@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Create" method="post">
    <label>New Role: </label>
    <input type="text" name="name" required min="1"/>
    <input type="submit" value="create"/>
</form>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>
                @role.Name
            </td>
            <td>
                <div class="float-right">
                   <a class="btn btn-outline-info" asp-controller="Role" asp-action="Details" asp-route-name="@role.Name">Details</a>
                   <a class="btn btn-info" asp-controller="Role" asp-action="Edit" asp-route-name="@role.Name">Edit</a>
                </div>
            </td>
        </tr>
    }
</table>
